@{
    ViewData["Title"] = "Home Page";
}
<style>
    h3{
        font-size: 100px;
        text-align: center;
        color: white;
    }

    .homeDiv{
        width: 50%;
        margin-left: auto;
        margin-top: 200px;
        margin-right: 0px;
    }

</style>
<body class="homeBody">
<div class="text-center" >
    @*<h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>
<div class="homeDiv">
    <h3>REAL ESTATE WEBSITE</h3>
</div>
</body>
