@model CreatePropertyViewModel

@{
    ViewData["Title"] = "Create";
}

<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="C:\Users\COLLABERA\Desktop\Capstone01\Real_Estate\wwwroot\css\site.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<div class="form-container">
    <form asp-action="CreatePropOwner">
        <h1 class="whiteText" style="text-align:center;">Create Property</h1>
        <div asp-validation-summary="ModelOnly" class="form-validation"></div>

        <label asp-for="Name" class="form-label">Name</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="form-validation"></span>

        <div class="form-group">
            <label asp-for="Description" class="form-label">Description</label>
            <input asp-for="Description" class="form-control" />
            <span asp-validation-for="Description" class="form-validation"></span>
        </div>
        <div class="form-group">
            <label asp-for="Address" class="form-label">Address</label>
            <input asp-for="Address" class="form-control" />
            <span asp-validation-for="Address" class="form-validation"></span>
        </div>
        <div class="form-group">
            <label asp-for="UrlImages" class="form-label">URL Image</label>
            <input asp-for="UrlImages" class="form-control" />
            <span asp-validation-for="UrlImages" class="form-validation"></span>
        </div>
        <div class="form-group">
            <label asp-for="Price" class="form-label">Price</label>
            <input asp-for="Price" class="form-control" />
            <span asp-validation-for="Price" class="form-validation"></span>
        </div>
        <div class="form-group">
            <label asp-for="SaleOrRentModelId" class="form-label">Price Category</label>
            <select asp-for="SaleOrRentModelId" class="form-control" asp-items="ViewBag.SaleOrRentModelId">
                <option value="">Select an option</option>
            </select>
            <span asp-validation-for="SaleOrRentModelId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="OwnerName" class="form-label">Owner Email</label>
            <input asp-for="OwnerName" class="form-control" />
            <span asp-validation-for="OwnerName" class="form-validation"></span>
        </div>
        <div class="form-group">
            <label asp-for="PropertyCategoryId" class="form-label">Property Category</label>
            <select asp-for="PropertyCategoryId" class="form-control" asp-items="ViewBag.PropertyCategoryId">
                <option value="">Select an option</option>
            </select>
            <span asp-validation-for="PropertyCategoryId" class="text-danger"></span>
        </div>
        <div class="d-grid gap-2 col-6 mx-auto">

            <button type="submit" value="Create" class="blackText">Create</button>

            <a asp-action="Index" class="whiteText" style="text-align: center;">Back to List</a>

        </div>
    </form>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
