@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "ControlPannel";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<link rel="stylesheet" href="styles.css" />
<div class="banner" >
    <div>
        <img class="propertyImage" src="/lib/img/propertyImage.png" style="max-width:100%; position:absolute;">
        <h1 class="textheader" style="position:absolute; z-index:1px; color:#fff; margin-top:15%; margin-left:25%;">Hi @User.Identity.Name</h1>

    </div>
</div>

