@model Real_Estate.ViewModels.ChangePasswordViewModel

@{
    ViewData["Title"] = "ChangePassword";
}
<head>
    <!-- Design by foolishdeveloper.com -->
    <title>Glassmorphism login Form Tutorial in html css</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="C:\Users\COLLABERA\Desktop\Capstone01\Real_Estate\wwwroot\css\site.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <!--Stylesheet-->
</head>



<div class="form-container">
        @if (ViewBag.IsSuccess == true)
        {
            <div class="alert alert-sucess" role="alert">
                Password has been updated successfully 
            </div>
        }
        <div class="container" id="changePassDiv">
            <form id="changePassForm" asp-action="ChangePassword">
                <h1 class="whiteText" style="text-align: center;">Change Password</h1>

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="OldPassword" class="form-label">Current Password</label>
                    <input asp-for="OldPassword" class="form-control" />
                    <span asp-validation-for="OldPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NewPassword" class="form-label">New Password</label>
                    <input asp-for="NewPassword" class="form-control" />
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword" class="form-label">Confirm Password</label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="buttonDiv">
                    <button input="submit">Save Changes</button>
                    <p style="color:#ffff;">
                        <a asp-action="Profile" asp-controller="Account"><u style="color:#ffff;">Back</u></a>
                    </p>
                </div>
            </form>
        </div>
</div>


@*<form class="forms" asp-action="ChangePassword" id="changePassForm">
    <h1 class="whiteText" style="text-align: center;">Change Password</h1>

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="OldPassword" class="form-label">Current Password</label>
        <input asp-for="OldPassword" class="form-control form-control-lg  />
        <span asp-validation-for="OldPassword" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="NewPassword" class="form-label">New Password</label>
        <input asp-for="NewPassword" class="form-control form-control-lg>
        <span asp-validation-for="NewPassword" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword" class="form-label">Confirm Password</label>
        <input asp-for="ConfirmPassword" class="form-control form-control-lg>
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>


    <div class="buttonDiv">
        <button input="submit">Save Changes</button>
    </div>

</form>*@



