@using Microsoft.AspNetCore.Identity;
@using Real_Estate.ViewModels;
@model RegisterUserViewModel
@*
    
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    List<IdentityRole> Roles = ViewBag.Roles;

   
}
@inject SignInManager<ApplicationUser> _signInManager
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Design by foolishdeveloper.com -->
    <title>Glassmorphism login Form Tutorial in html css</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">

</head>
<div class="form-container">
    <form asp-controller="Account" asp-action="Register">

        <h1 class="whiteText" style="text-align: center;">Register Here</h1>

        @*    <div asp-validation-summary="All" class="text-danger"></div>*@
        <label class="form-label" for="form3Example1cg">Full name</label>
        <input asp-for="Name" id="form3Example1cg" class="form-control form-control-lg" placeholder="Ex. Juan Dela Cruz" />
        <span asp-validation-for="Name" class="form-validation"></span>


        <label class="form-label" for="form3Examplea6">Address</label>
        <input asp-for="Address" id="form3Examplea6" class="form-control form-control-lg" placeholder="Enter Address" />
        <span asp-validation-for="Address" class="form-validation"></span>

        <label class="form-label" for="form3Examplea7">Age</label>
        <input asp-for="Age" id="form3Examplea7" class="form-control form-control-lg" placeholder="Enter Age" />
        <span asp-validation-for="Age" class="form-validation"></span>


        <label class="form-label" for="form3Examplea8">Phone Number</label>
        <input asp-for="PhoneNumber" id="form3Examplea8" class="form-control form-control-lg" placeholder="Enter Phone Number" />
        <span asp-validation-for="PhoneNumber" class="form-validation"></span>

        <label class="form-label" for="form3Examplea6">Date of Birth</label>
        <input asp-for="DOB" id="form3Examplea6" class="form-control form-control-lg" placeholder="MM/DD/YYYY" />
        <span asp-validation-for="DOB" class="form-validation"></span>


        <label class="form-label" for="form3Examplea6">URL Image</label>
        <input asp-for="UrlImages" id="form3Examplea6" class="form-control form-control-lg" />
        <span asp-validation-for="UrlImages" class="form-validation"></span>

        <label class="form-label" for="form3Examplea6">UserName</label>
        <input asp-for="UserName" id="form3Examplea6" class="form-control form-control-lg" placeholder="Enter Username" />
        <span asp-validation-for="UserName" class="form-validation"></span>


        <label class="form-label" for="form3Example3cg">Email</label>
        <input asp-for="Email" id="form3Example3cg" class="form-control form-control-lg" placeholder="Ex. juan@gmail.com" />
        <span asp-validation-for="Email" class="form-validation"></span>


        <label class="form-label" for="form3Example4cg">Password</label>
        <input asp-for="Password" id="form3Example4cg" class="form-control form-control-lg" placeholder="Enter Password" />
        <span asp-validation-for="Password" class="form-validation"></span>


        <label class="form-label" for="form3Example4cdg">Confirm Password</label>
        <input asp-for="ConfirmPassword" id="form3Example4cdg" class="form-control form-control-lg" placeholder="Confirm Password" />
        <span asp-validation-for="ConfirmPassword" class="form-validation"></span>

        <label class="form-label" for="form3Example4cdg">Pick Roles</label>
        <select asp-for="RoleViewModelID" id="form3Example4cdg" class="form-control form-control-lg">
            <option value="" id="form3Example4cdg">Select an option</option>
            @if (Roles != null)
            {
                foreach (var item in Roles)
                {

                    <option value="@item.Id">@item.Name</option>
                }
            }
        </select>
        <span asp-validation-for="RoleViewModelID" class="form-validation"></span>

        @*    <select asp-for="Role" id="form3Example3cg" class="form-select form-select-lg">
        <option disabled selected> Select Role</option>
        </select>
        <label class="form-label" for="form3Example3cg">Roles </label>
        <span asp-validation-for="Role"></span>*@

        <div class="d-grid gap-2 col-6 mx-auto">
            <button type="submit">Register</button>
            <p style="color:#ffff; text-align: center;">
                Have already an account?<a asp-action="Login"><u style="color:#ffff;">Login here</u></a>
            </p>
        </div>





    </form>
</div>
